# Web & API Server
fastapi
uvicorn[standard]
pydantic

# Computer Vision & AI Models
opencv-python
numpy
onnxruntime
supervision

# Database
psycopg2-binary

# For Raspberry Pi 
# # --- Web Server & API ---
# fastapi
# uvicorn[standard]
# websockets

# # --- Xử lý ảnh (Bản Headless siêu nhẹ cho Pi, không dính GUI) ---
# opencv-python-headless
# numpy

# # --- AI & Bounding Box ---
# tflite-runtime
# supervision
